@use "../../styles/_variables.scss" as *;

.User {
  background-color: $primary;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.5rem;
  position: relative;
  cursor: pointer;
}

.dash {
  font-size: 0.7rem;
  background-color: $primary;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.5rem;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;

  &__img {
    width: 2rem;
    background-color: transparent;
    margin-top: 0.4rem;
  }
}

.link {
  text-decoration: none;
}
