.login {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 5rem;
  width: 20rem;

  &__form {
    padding: 0.5rem;
  }

  &__username {
    margin-bottom: 0.5rem;
  }

  &__button {
    width: 5rem;
    border-radius: 1.2rem;
    outline: none;
    padding: 0.25rem 0.7rem;
    background-color: rgb(7, 80, 93);
    border: 0px;
    margin-top: 0.25rem;
    font-size: 1rem;
    font-weight: 600;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }

  &__button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.input {
  padding: 0.5rem;
  width: 100%;
  border-radius: 1.2rem;
  padding-left: 1rem;
  background-color: black;
  color: white;
  outline: none;

  &:focus {
    border: solid 2px #0095f6;
  }
}
